@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Orbitron&family=Satisfy&display=swap');





/*=================================================== CLASSES =========================================================*/
.titulo{
    text-align: center;
    display: inline;
    position: relative;
    top: 6.25rem;
    
}


.Foto{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
    left: 200px;
    height: 8%;
    width: 15%;
    
}

.peixe{
    position: relative;
    text-align: center;
    bottom: 250px;
}

.Foto-tech1{
    position: relative;
    text-align: end;
    bottom: 107px;
    right: 368px;
}

.Foto-tech2{
    position: relative;
    text-align: start;
    bottom: 19.438em;
    left: 374px;
}

.gabriel{
    position: relative;
    top: 40px;
}

.conhecimentos{
    position: relative;
    top: 40px;
}



/*================================================= TAGS ==============================================================*/

hr{
    border-style: dotted none none;
    width: 6%;
    border-color: #000;
    border-width: 9px;
    margin-top: 0px;
    top: 10px;
    text-align: center;
    position: relative;

}
h1, h2, h3{
    color: #6499E9;
}

header{
    background-color: #192655;
    position: relative;
}

main{
    background-color: #89CFF3;
    position: relative;
    bottom: 220px;
    margin: 0%;

}

body{
    position: relative;
    margin: 0;
}

h1{
    font-family: 'Caveat', cursive;
    font-size: 6.125rem;
    position: relative;
    top: 10%;
    margin: 0;
}

h2
{
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
}