/*=================================================== CLASSES =========================================================*/
.titulo{
    text-align: center;
    top: 60px;
    display: inline;
    font-family: cursive;
    font-size: 56px
}


.Foto{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
    left: 200px;
    height: 10%;
    width: 20%;
    
}

.ravena{
    position: relative;
    display: inline-block;
    text-align: center;
    left: 750px;
}

.kali{
    position: relative;
    text-align: center;
    display: inline-block;
    left: 600px;
    
    
}

.Foto-tech{
    position: relative;
    text-align: end;
    bottom: 130px;
}

.gabriel{
    position: relative;
    top: 40px;
}

.conhecimentos{
    position: relative;
    top: 40px;
}



/*================================================= TAGS ==============================================================*/

hr{
    border-style: dotted none none;
    width: 6%;
    border-color: #000;
    border-width: 9px;
    margin-top: 0px;
    top: 10px;
    text-align: center;
    position: relative;

}
h1, h2, h3{
    color: #6499E9;
    margin: 0px;
}

header{
    background-color: #192655;
    position: relative;
}

main{
    background-color: #89CFF3;

}

body{
    margin: 0px;
}